peruvianportalterrestrialtransport/peruvianportalterrestrialtransport/src/main/webapp/wsdl/EmpresaServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.servicio.pe.ttporg.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.servicio.pe.ttporg.com" xmlns:intf="http://impl.servicio.pe.ttporg.com" xmlns:tns1="http://bean.pe.ttporg.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.servicio.pe.ttporg.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.pe.ttporg.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <element name="usuario" type="xsd:string"/>
   <element name="password" type="xsd:string"/>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="loginEmpresa2Return" type="tns1:Empresa"/>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.pe.ttporg.com"/>
   <import namespace="http://impl.servicio.pe.ttporg.com"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.pe.ttporg.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://impl.servicio.pe.ttporg.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="Informacion">
    <sequence>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="imagen" nillable="true" type="xsd:string"/>
     <element name="link_01" nillable="true" type="xsd:string"/>
     <element name="link_02" nillable="true" type="xsd:string"/>
     <element name="texto" nillable="true" type="xsd:string"/>
     <element name="titulo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Portal">
    <sequence>
     <element name="cabecera" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="infoCentral" nillable="true" type="tns1:Informacion"/>
     <element name="infoPie" nillable="true" type="tns1:Informacion"/>
     <element name="listaInfoIzquierda" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="url" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="Empresa">
    <sequence>
     <element name="departamento" nillable="true" type="xsd:string"/>
     <element name="direccion" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="estado" type="xsd:boolean"/>
     <element name="fechaExpiracionTarjeta" nillable="true" type="xsd:dateTime"/>
     <element name="id" nillable="true" type="xsd:int"/>
     <element name="listaClientes" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
     <element name="numTarjetaCredito" nillable="true" type="xsd:string"/>
     <element name="pais" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="portal" nillable="true" type="tns1:Portal"/>
     <element name="razonSocial" nillable="true" type="xsd:string"/>
     <element name="ruc" nillable="true" type="xsd:string"/>
     <element name="telefono" nillable="true" type="xsd:string"/>
     <element name="usuario" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="loginEmpresa2Request">

      <wsdl:part element="impl:usuario" name="usuario"/>

      <wsdl:part element="impl:password" name="password"/>

   </wsdl:message>

   <wsdl:message name="loginEmpresa2Response">

      <wsdl:part element="impl:loginEmpresa2Return" name="loginEmpresa2Return"/>

   </wsdl:message>

   <wsdl:portType name="EmpresaServiceImpl">

      <wsdl:operation name="loginEmpresa2" parameterOrder="usuario password">

         <wsdl:input message="impl:loginEmpresa2Request" name="loginEmpresa2Request"/>

         <wsdl:output message="impl:loginEmpresa2Response" name="loginEmpresa2Response"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmpresaServiceImplSoapBinding" type="impl:EmpresaServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="loginEmpresa2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginEmpresa2Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginEmpresa2Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmpresaServiceImplService">

      <wsdl:port binding="impl:EmpresaServiceImplSoapBinding" name="EmpresaServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/peruvianportalterrestrialtransport/services/EmpresaServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
